<div class="jobTest-content">

    <div class="job-search">
        <div class="grid">
            <div class="searchMain-job-form">

                <div class="form-group  job-search__search">
                    <input type="text" class="form-control" id="searchMain-job"
                        placeholder="Tên công việc mong muốn ...." name="keySearch">
                    <i class="fa fa-search job-search__search-icon"></i>
                </div>

                <div class="form-group posiWork">
                    <select class="form-control" id="selectMain-work" name="work">
                        <option value="">Tất cả công việc</option>
                        <option>Quản trị mạng</option>
                        <option>Lập trình ứng dụng , web</option>
                        <option>Quản trị cơ sở dữ liệu</option>
                        <option>Bảo mật thông tin</option>
                        <option>Hỗ trợ người dùng</option>
                    </select>
                </div>

                <div class="form-group posiRe">
                    <select class="form-control" id="selectMain-address" name="address">
                        <option value="">Tất cả các khu vực</option>
                        <option>Hà nội</option>
                        <option>Hồ Chí Minh</option>
                        <option>Đà Nẵng</option>
                        <option>Ninh Bình</option>
                    </select>
                </div>

                <div class="form-group">
                    <button id="btn-search-main" class="btn btn-primary job-search-btn">Tìm kiếm</button>
                </div>



            </div>
        </div>

    </div>

    <div class="job-maincontent">
        <div class="grid magtop50">
            <div class="job-maincontent__nav">
                <div class="form-group pad10 bgWhite">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Mức lương</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Tất cả các mức lương</option>
                            <option>500-1000$</option>
                            <option>1000$-1500$</option>
                            <option>1500-2000$</option>
                            <option>2000-2500$</option>
                            <option>>2500$</option>
                        </select>
                    </div>
                </div>

                <div class="form-group pad10 bgWhite">
                    <label for="">Công việc</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Quản trị mạng
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Lập trình ứng dụng, web
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Quản trị cơ sở dữ liệu
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Bảo mật thông tin
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Hỗ trợ người dùng
                        </label>
                    </div>
                </div>

                <div class="form-group pad10 bgWhite">
                    <label for="">Khu vực</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Hà Nội
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Hồ Chí Minh
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Đà Nẵng
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Ninh Bình
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Khác
                        </label>
                    </div>
                </div>


            </div>
            <div class="job-maincontent_jobs" id="list-jobs-main">

                {{#each job}}
                <div class="job" salary="{{this.salary}}" creAt="{{this.createdAt}}">
                    <div class="job_infor">
                        <p class="job_infor-title">

                            <span class="boxNew">
                                New
                            </span>
                            <span class="boxHot">
                                Hot
                            </span>
                            <a href="/job/{{this._id}}"><b>{{this.position}}</b></a>
                        </p>
                        <p>{{this.company}}</p>
                    </div>
                    <div class="job_infor-detail">
                        <div class="job_infor-detail_item">
                            <p><i class="fa fa-dollar"></i>Lương: {{this.salary}}</p>
                        </div>
                        <div class="job_infor-detail_item">
                            <p><i class="fa fa-map-marker"></i>Địa điểm: {{this.address}}</p>
                        </div>
                        <div class="job_infor-detail_item">
                            <p><i class="fa fa-clock-o"></i>Hạn nộp: {{this.deadline}}</p>
                        </div>
                        <div class="job_infor-detail_item">
                            <p><i class="fa fa-bar-chart"></i>Kinh nghiệm: {{this.experience}}</p>
                        </div>
                    </div>

                </div>

                {{/each}}




            </div>

        </div>
    </div>
</div>


{{!--SearchMain hiden Form--}}
<form action="" class="searchMain-job-form"></form>

<script>
    
    const job = document.querySelectorAll('.job')
    const job_title = document.querySelectorAll('.job_infor-title .boxHot')
  


    for (let i = 0; i < job.length; i++) {
        const salary = parseInt(job[i].getAttribute('salary'))
        if (salary >= 2000) {
            job_title[i].style.display = "inline-block"
        }
    }

    const job_title2 = document.querySelectorAll('.job_infor-title .boxNew')
    const timeToday = new Date()
    
    for (let i = 0; i < job.length; i++) {
        const getTime = job[i].getAttribute('creAt')
        const timeJob = new Date(getTime)
        const diff = timeToday - timeJob       
        if (diff <= 172800000) {
            job_title2[i].style.display = "inline-block"
        }
    }


</script>

<script type="text/javascript">


    $(document).ready(function () {


        $("#btn-search-main").click(function () {
            const data = {}
            data.keySearch = $('#searchMain-job').val()
            data.work = $('#selectMain-work').val()
            data.address = $('#selectMain-address').val()
            var pageUrl = window.location.href + "?" + data.keySearch;
            $.post("/job/searchHandle", { data: data }, function (data, status) {
                $('#list-jobs-main').html(data)

                window.history.pushState('', '', pageUrl);
                $(window).bind("popstate", function () {
                    $.getScript(location.href);
                })


            });
        });

       


    });






</script>